@import-normalize; /* bring in normalize.css styles */
@import 'normalize.css/opinionated.css';

* {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  background: none;
  outline: none;
  margin: 0;
  padding: 0;
}

:root {
  /* Define custom vars here */
}

button {
  cursor: pointer;
}
